[Unit]
Description=prune images older than 4 hours
Wants=docker-prune.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/docker system prune -f --filter "until=4h"
ExecStart=/usr/bin/docker volume prune -f

TimeoutSec=10m

[Install]
WantedBy=multi-user.target

